journal
ma2104/Weir, Hass, Giordano. - Instructor's solution manual to Thomas' Calculus, parts 1 and 2-AW (2005).djvu
ma2104/George B. Thomas, Maurice D. Weir, Joel Hass, Frank R. Giordano - Thomas's calculus-Addison Wesley (2004).pdf
ideas.md
